* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #1F2933;
  background: #F9FAFB;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* NAVBAR */
.header {
  background: white;
  border-bottom: 1px solid #e5e7eb;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.logo {
  display: inline-block;
  align-items: center;
  gap: 10px;
  font-weight:bold;
  font-size: larger;
  max-width: 10px;
  height: auto;
}


nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #1F2933;
  font-weight: 500;
}

/* BUTTONS */
.btn {
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
}

.btn.primary {
  background: #D40511;
  color: white;
}

.btn.outline {
  border: 2px solid #D40511;
  color: #D40511;
}

.btn.small {
  background: #D40511;
  color: white;
  padding: 8px 16px;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #D40511, #9B111E);
  color: white;
  padding: 80px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  max-width: 500px;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 16px;
}

/* TRACKING RESULT */
.tracking-result {
  margin-top: 30px;
  background: #F9FAFB;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}

.hidden {
  display: none;
}

/* TIMELINE */
.timeline {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.step {
  flex: 1;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 4px solid #E5E7EB;
  font-weight: 500;
}

.step.active {
  border-color: #D40511;
  color: #D40511;
  font-weight: 700;
}

/* SERVICES */
.services {
  padding: 80px 0;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.service-card {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

/* WHY US */
.why-us {
  background: #F3F4F6;
  padding: 80px 0;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 40px;
}

/* STATS */
.stats {
  background: #D40511;
  color: white;
  padding: 60px 0;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  text-align: center;
}

/* CTA */
.cta {
  padding: 80px 0;
  text-align: center;
}
.cta h2 {
    padding: 40px 0;
}

/* FOOTER */
.footer {
  background: #111827;
  color: #9CA3AF;
  padding: 60px 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 30px;
}

.footer a {
  display: block;
  color: #9CA3AF;
  text-decoration: none;
  margin-top: 10px;
}

.copyright {
    position: static;
    bottom: 0;
    width: 50%;
}
